<div
  class="min-h-screen bg-gradient-to-b from-slate-50 to-slate-100 p-8 flex flex-col items-center gap-6"
>
  <div class="w-full max-w-5xl">
    <h1 class="text-2xl font-semibold text-slate-800 mb-2">Nuevo pedido</h1>
  </div>

  <!-- SEARCHBAR -->
  <div class="w-full max-w-5xl relative flex flex-col gap-8">
    <!-- INPUT -->

    <input
      type="text"
      placeholder="Buscar producto por código o nombre..."
      class="w-full border-2 border-blue-300 bg-blue-50 rounded-xl px-5 py-4 text-lg focus:outline-none focus:border-blue-500 focus:ring-4 focus:ring-blue-100 transition"
      [value]="searchTerm"
      (input)="onSearch($event)"
    />

    <!-- DROPDOWN -->

    @if (showDropdown && filteredProducts().length) {
      <div
        class="absolute left-0 right-0 top-[64px] bg-white rounded-xl shadow-2xl border border-blue-200 max-h-80 overflow-y-auto z-20"
      >
        <table class="w-full">
          <thead class="bg-blue-100 sticky top-0">
            <tr class="text-sm text-blue-900">
              <th class="p-4 text-left">Código</th>
              <th class="p-4 text-left">Producto</th>
              <th class="p-4 text-left">Almacén</th>
              <th class="p-4 text-center">Stock</th>
            </tr>
          </thead>

          <tbody>
            @for (product of filteredProducts(); track product.id) {
              <tr
                class="border-b border-gray-100 hover:bg-blue-50 cursor-pointer transition"
                (click)="selectProduct(product)"
              >
                <td class="p-4 font-mono text-slate-600">
                  {{ product.id }}
                </td>

                <td class="p-4 font-medium text-slate-800">
                  {{ product.nombre }}
                </td>

                <td class="p-4 text-slate-600">
                  {{ product.almacen }}
                </td>

                <td class="p-4 text-center text-slate-600">
                  {{ product.stock }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>

  <div class="w-full max-w-5xl relative flex flex-col gap-8">
    <div class="w-full max-w-5xl flex justify-end items-center gap-4">
      <span class="text-sm text-gray-500">
        {{ orderService.totalItems() }} productos en el pedido
      </span>
      <button
        class="bg-blue-600 text-white px-6 py-3 rounded-xl shadow hover:bg-blue-700 transition font-medium"
        (click)="finalizeOrder()"
      >
        Crear pedido
      </button>
    </div>

    <div class="w-full max-w-5xl bg-white rounded-xl shadow-lg">
      <input
        type="text"
        placeholder="Matrícula del vehículo"
        class="w-full border-2 border-blue-200 bg-white rounded-xl px-5 py-4 text-lg focus:outline-none focus:border-blue-500 focus:ring-4 focus:ring-blue-100 transition"
        [(ngModel)]="matricula"
      />
    </div>

    <!-- TABLA (contenedor con scroll) -->
    <div
      class="w-full max-w-5xl bg-white rounded-xl shadow-lg overflow-hidden"
      style="max-height: 360px; overflow-y: auto"
    >
      <table class="w-full">
        <thead class="bg-blue-50 border-b border-gray-200">
          <tr class="text-sm text-blue-900">
            <th class="p-4 text-left">Código</th>
            <th class="p-4 text-left">Producto</th>
            <th class="p-4 text-left">Almacén</th>
            <th class="p-4 text-center">Cantidad</th>
            <th class="p-4"></th>
          </tr>
        </thead>

        <tbody>
          @for (item of orderItems(); track item.productId) {
            <tr class="border-b border-gray-100 hover:bg-slate-50">
              <td class="p-4 font-mono text-slate-600">
                {{ item.productId }}
              </td>
              <td class="p-4 font-medium text-slate-800">
                {{ item.nombre }}
              </td>

              <td class="p-4 text-slate-600">
                {{ item.almacen }}
              </td>

              <td class="p-4">
                <div class="flex justify-center">
                  <div
                    class="flex items-center border border-slate-200 rounded-lg overflow-hidden shadow-sm"
                  >
                    <button
                      class="px-3 py-1 bg-slate-100 hover:bg-slate-200"
                      (click)="decreaseQuantity(item.productId)"
                    >
                      −
                    </button>

                    <input
                      class="w-14 text-center outline-none"
                      [value]="item.cantidadSolicitada"
                      (change)="updateQuantity(item.productId, $event)"
                    />

                    <button
                      class="px-3 py-1 bg-slate-100 hover:bg-slate-200"
                      (click)="increaseQuantity(item.productId)"
                    >
                      +
                    </button>
                  </div>
                </div>
              </td>

              <td class="p-4 text-center">
                <button
                  class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-red-50 text-red-500 hover:bg-red-100"
                  (click)="removeItem(item.productId)"
                  aria-label="Quitar producto"
                >
                  ✕
                </button>
              </td>
            </tr>
          }

          @if (orderItems().length === 0) {
            <tr>
              <td colspan="4" class="text-center p-10 text-slate-400">
                No hay productos en el pedido
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
